.contenedorEdificio{
    width: 100vw;
    height: 100vh;
    background-image: url(../torrejejui/src/fondoC.svg);
    background-size: contain;
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#edificio{
    width: 100%;
    height: 100%;
}
.detalles{
    /* background: rgba(0, 0, 0, 0.1); */
    width: 70%;
    height: 100%;
    
}
.tipo{
    display: none;
}
.disabled{
    pointer-events: none;opacity: 0.3;
}
.dtosEntrada{animation: dtosEntrada 0.5s forwards linear;}
@keyframes dtosEntrada {0%{transform: translateX(0px);}100%{transform: translateX(-1350px);}}
.dtosSalida{animation: dtosSalida 0.5s forwards linear;}
@keyframes dtosSalida {0%{transform: translateX(-1350px);}100%{transform: translateX(0px);}}

.habitacionesActivas{animation: habitacionesActivas 0.5s forwards;}
@keyframes habitacionesActivas{0%{fill: #666666;}100%{fill: #1f3973;}}

.moverBtns{animation: moverBtns 0.5s forwards;}
@keyframes moverBtns{0%{transform: translateY(0px);}100%{transform: translateY(1450px);}}
.regresarBtns{animation: regresarBtns 0.5s forwards;}
@keyframes regresarBtns{0%{transform: translateY(1450px);}100%{transform: translateY(0px);}}

.display{animation: display 0.5s forwards 0.3s;}
@keyframes display{ 0%{pointer-events: none;opacity: 0;}100%{pointer-events: all;opacity: 1;}}


.mostrar{animation: mostrar 0.5s forwards 0.3s;}
@keyframes mostrar{ 0%{opacity: 0;}100%{opacity: 1;}}


.vendido{
    fill: red !important;pointer-events: none;
}
.modal{
    position: fixed;
    top: 0;right: 0;
    margin: auto;
    width: 100vw;
    /* max-width: 600px; */
    height: 100vh;
    /* max-height: 400px; */
    display: none;
    border: none;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}
.modal form{
    border-radius: 5px;
    position: absolute;
    background-color: #000;
    max-width: 600px;
    max-height: 400px;
    margin-left: 50%;
    top: 25%;
    padding: 50px;
    transform: translate(-50%);
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.cerrar{
    font-weight: bold;
    color: darkred;
}
/* button:hover{
    opacity: 0.7;
    cursor: pointer;
} */











@media screen and (min-width: 1300px) {
    .contenedorEdificio{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    #edificio{
        width: 50%;
        height: 100%;
    }
    .detalles{
        width: 36%;
        /* height: 100%; */
    }
}